{
	"trailingComma": "es5",
	"tabWidth": 4,
	"singleQuote": false,
	"printWidth": 150,
	"useTabs": true,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"[typescript]": {
		"editor.formatOnPaste": false,
		"editor.formatOnSave": false
	},
	"editor.formatOnPaste": true,
	"editor.formatOnSave": true
}
